<section class="articles">
    <nav>
        <div class="btn-view-more">
            <a href="https://volam2.conco.online/tim-kiem" title="Xem tất cả bài viết"><i class="icon-plus"></i> Xem
                thêm</a>
        </div>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-news-tab" data-toggle="tab" href="#nav-news" role="tab"
                aria-controls="nav-news" aria-selected="true">
                Tin tức
            </a>
            <a class="nav-item nav-link " id="nav-event-tab" data-toggle="tab" href="#nav-event" role="tab"
                aria-controls="nav-event" aria-selected="true">
                Sự kiện
            </a>
            <a class="nav-item nav-link " id="nav-feature-tab" data-toggle="tab" href="#nav-feature" role="tab"
                aria-controls="nav-feature" aria-selected="true">
                Tính năng
            </a>
            <a class="nav-item nav-link " id="nav-guide-tab" data-toggle="tab" href="#nav-guide" role="tab"
                aria-controls="nav-guide" aria-selected="true">
                Hướng dẫn
            </a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-news" role="tabpanel" aria-labelledby="nav-news-tab">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/su-kien/hoat-dong-bao-ve-tuong-duong"
                        class="mr-auto articles__link text-truncate hot">
                        <span class="badge tag text-primary">Sự kiện</span>
                        Hoạt động Bảo vệ Tương Dương
                    </a>
                    <time class="published-time" datetime="2020-04-11 21:27:59">
                        11-04
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/huong-dan/gioi-thieu-may-chu-cum-mien-phi-vo-lam-2-online"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge tag">Hướng dẫn</span>
                        Giới thiệu máy chủ cụm Miễn phí Võ Lâm 2 Online
                    </a>
                    <time class="published-time" datetime="2020-04-05 12:34:52">
                        05-04
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/su-kien/su-kien-quoc-sac-thien-huong-20-03-2020"
                        class="mr-auto articles__link text-truncate hot">
                        <span class="badge tag text-primary">Sự kiện</span>
                        Sự kiện Quốc Sắc Thiên Hương 20/03/2020
                    </a>
                    <time class="published-time" datetime="2020-03-19 21:18:51">
                        19-03
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/huong-dan/trang-bi-sat-tinh-trac-viet"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge tag">Hướng dẫn</span>
                        Trang bị Sát Tinh - Trác Việt
                    </a>
                    <time class="published-time" datetime="2020-03-19 12:54:50">
                        19-03
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/huong-dan/cap-nhat-phien-ban-10-3-7"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge tag">Hướng dẫn</span>
                        Cập nhật phiên bản 10.3.7 vào 6h00 ngày 15/03/2020
                    </a>
                    <time class="published-time" datetime="2020-03-14 20:10:59">
                        14-03
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/tinh-nang/trang-bi-huyen-vu"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge text-success tag">Tính năng</span>
                        Trang Bị Huyền Vũ
                    </a>
                    <time class="published-time" datetime="2020-03-11 17:31:11">
                        11-03
                    </time>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade " id="nav-event" role="tabpanel" aria-labelledby="nav-event-tab">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/su-kien/hoat-dong-bao-ve-tuong-duong"
                        class="mr-auto articles__link text-truncate hot">
                        <span class="badge tag text-primary">Sự kiện</span>
                        Hoạt động Bảo vệ Tương Dương
                    </a>
                    <time class="published-time" datetime="2020-04-11 21:27:59">
                        11-04
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/su-kien/su-kien-quoc-sac-thien-huong-20-03-2020"
                        class="mr-auto articles__link text-truncate hot">
                        <span class="badge tag text-primary">Sự kiện</span>
                        Sự kiện Quốc Sắc Thiên Hương 20/03/2020
                    </a>
                    <time class="published-time" datetime="2020-03-19 21:18:51">
                        19-03
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/su-kien/06-03-2020-khai-mo-dua-top-may-chu-dai-nam"
                        class="mr-auto articles__link text-truncate hot">
                        <span class="badge tag text-primary">Sự kiện</span>
                        06-03-2020 Khai mở Đua top máy chủ Đại Nam
                    </a>
                    <time class="published-time" datetime="2020-03-05 17:23:41">
                        05-03
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/su-kien/su-kien-thap-sang-thanh-hoa-dan-16-02-2020"
                        class="mr-auto articles__link text-truncate hot">
                        <span class="badge tag text-primary">Sự kiện</span>
                        Sự kiện Thắp Sáng Thánh Hỏa Đàn 16/02/2020
                    </a>
                    <time class="published-time" datetime="2020-02-15 13:53:41">
                        15-02
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/su-kien/su-kien-vui-tet-doan-vien"
                        class="mr-auto articles__link text-truncate hot">
                        <span class="badge tag text-primary">Sự kiện</span>
                        Sự kiện Vui Tết Đoàn Viên
                    </a>
                    <time class="published-time" datetime="2020-01-10 00:09:38">
                        10-01
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/su-kien/cap-nhat-su-kien-tu-bao-thuong-nhan-moi"
                        class="mr-auto articles__link text-truncate hot">
                        <span class="badge tag text-primary">Sự kiện</span>
                        Cập nhật sự kiện Tụ Bảo Thương Nhân mới
                    </a>
                    <time class="published-time" datetime="2020-01-03 21:47:01">
                        03-01
                    </time>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade " id="nav-feature" role="tabpanel" aria-labelledby="nav-feature-tab">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/tinh-nang/trang-bi-huyen-vu"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge text-success tag">Tính năng</span>
                        Trang Bị Huyền Vũ
                    </a>
                    <time class="published-time" datetime="2020-03-11 17:31:11">
                        11-03
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/tinh-nang/big-update-ho-tro-truc-tiep-nhan-chuyen-sinh-8-9-10-tai-tan-thu-lenh"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge text-success tag">Tính năng</span>
                        [Big Update] Hỗ trợ trực tiếp nhận chuyển sinh 8, 9, 10 tại Tân Thủ Lệnh
                    </a>
                    <time class="published-time" datetime="2020-01-03 21:20:08">
                        03-01
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/tinh-nang/tang-them-phan-thuong-mo-ruong-luong-son-bac"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge text-success tag">Tính năng</span>
                        Tăng thêm phần thưởng mở rương Lương Sơn Bạc
                    </a>
                    <time class="published-time" datetime="2019-12-26 22:21:31">
                        26-12
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/tinh-nang/mot-so-dieu-chinh-sau-bao-tri-dinh-ky-25-12-2019"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge text-success tag">Tính năng</span>
                        Một số điều chỉnh sau bảo trì định kỳ 25/12/2019
                    </a>
                    <time class="published-time" datetime="2019-12-24 23:09:53">
                        24-12
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/tinh-nang/tang-them-phan-thuong-khi-tham-gia-cac-hoat-dong-trong-phien-ban-moi"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge text-success tag">Tính năng</span>
                        Tăng thêm phần thưởng khi tham gia các hoạt động trong phiên bản mới
                    </a>
                    <time class="published-time" datetime="2019-12-02 16:57:25">
                        02-12
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/tinh-nang/noi-cong-giang-ho"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge text-success tag">Tính năng</span>
                        Giới thiệu tính năng mới - Nội Công Giang Hồ
                    </a>
                    <time class="published-time" datetime="2019-11-30 01:15:26">
                        30-11
                    </time>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade " id="nav-guide" role="tabpanel" aria-labelledby="nav-guide-tab">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/huong-dan/gioi-thieu-may-chu-cum-mien-phi-vo-lam-2-online"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge tag">Hướng dẫn</span>
                        Giới thiệu máy chủ cụm Miễn phí Võ Lâm 2 Online
                    </a>
                    <time class="published-time" datetime="2020-04-05 12:34:52">
                        05-04
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/huong-dan/trang-bi-sat-tinh-trac-viet"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge tag">Hướng dẫn</span>
                        Trang bị Sát Tinh - Trác Việt
                    </a>
                    <time class="published-time" datetime="2020-03-19 12:54:50">
                        19-03
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/huong-dan/cap-nhat-phien-ban-10-3-7"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge tag">Hướng dẫn</span>
                        Cập nhật phiên bản 10.3.7 vào 6h00 ngày 15/03/2020
                    </a>
                    <time class="published-time" datetime="2020-03-14 20:10:59">
                        14-03
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/huong-dan/huong-dan-giam-ping-giam-lag-khi-choi"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge tag">Hướng dẫn</span>
                        Hướng dẫn giảm Ping, giảm Lag khi chơi
                    </a>
                    <time class="published-time" datetime="2019-07-24 20:41:50">
                        24-07
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/huong-dan/huong-dan-nhan-trang-bi-may-chu-thu-nghiem"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge tag">Hướng dẫn</span>
                        Hướng dẫn nhận trang bị máy chủ thử nghiệm
                    </a>
                    <time class="published-time" datetime="2019-07-23 09:27:20">
                        23-07
                    </time>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <a href="https://volam2.conco.online/huong-dan/huong-dan-tai-game"
                        class="mr-auto articles__link text-truncate ">
                        <span class="badge tag">Hướng dẫn</span>
                        Hướng dẫn tải Võ Lâm 2 Thiên Hạ Biến
                    </a>
                    <time class="published-time" datetime="2019-07-12 05:09:15">
                        12-07
                    </time>
                </li>
            </ul>
        </div>
    </div>
</section>