<div id="homepage-header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3 logo">

                <nav class="navbar">
                    <a class="navbar-brand" href="/" title="Võ Lâm Truyền Kỳ 2">
                        <img class="img-fluid" src="https://volam2.conco.online/images/logo.png"
                            alt="Võ Lâm Truyền Kỳ 2">
                    </a>
                </nav>
            </div>
            <div class="d-none d-sm-block col-sm-9 align-self-xl-auto align-self-center">
                <nav class="navbar navbar-expand-sm navbar-light">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav nav-fill w-100">
                            <li class="nav-item active">
                                <a class="nav-link" href="/"> Trang chủ<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sự kiện</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Tính năng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Giải đấu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.facebook.com/volamtruyenky2.online"
                                    target="_blank">Cộng đồng</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>