<div class="main-feature">
    <h2 class="main-feature__header">Tính năng đặc sắc</h2>
    <ul class="nav flex-row text-center text-md-left text-center">
        <li class="nav-item">
            <a href="/tin-tuc-gioi-thieu/tui-qua-vo-lam-2" class="nav-link">
                <img src="https://volam2.conco.online/images/tuiqua.png" alt="Túi Quà Võ Lâm 2">
                <div class="pt-2">Túi Quà Võ Lâm 2</div>
            </a>
        </li>
        <li class="nav-item">
            <a href="/tin-tuc-gioi-thieu/danh-phan-dai-hiep-danh-tuan-giang-ho" class="nav-link">
                <img src="https://volam2.conco.online/images/daihieplenh.png" alt="Đại Hiệp Lệnh">
                <div class="pt-2">Đại Hiệp Lệnh</div>
            </a>
        </li>
        <li class="nav-item">
            <a href="/tin-tuc-gioi-thieu/yeu-quyet-co-pho" class="nav-link">
                <img src="https://volam2.conco.online/images/copho.png" alt="Yếu quyết Cổ Phổ">
                <div class="pt-2">Cổ phổ</div>
            </a>
        </li>
        <li class="nav-item">
            <a href="/tin-tuc-gioi-thieu/noi-cong-giang-ho" class="nav-link">
                <img src="https://volam2.conco.online/images/noicong.png" alt="Nội Công Giang Hồ">
                <div class="pt-2">Nội Công</div>
            </a>
        </li>
        <li class="nav-item">
            <a href="/tin-tuc-gioi-thieu/tan-thu-lenh" class="nav-link">
                <img src="https://volam2.conco.online/images/tanthulenh.png" alt="Tân Thủ Lệnh">
                <div class="pt-2">Tân Thủ Lệnh</div>
            </a>
        </li>
        <li class="nav-item">
            <a href="/tinh-nang/tu-luyen-chau" class="nav-link">
                <img src="https://volam2.conco.online/images/tuluyenchau.png" alt="Tu Luyện Châu">
                <div class="pt-2">Tu Luyện Châu</div>
            </a>
        </li>
    </ul>
</div>