################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RanOnline/config
/API/bin
/API/obj/Debug
/Auth/bin
/Auth/obj/Debug
/Entity/bin/Debug
/Entity/obj/Debug
/Framework/bin/Debug
/Framework/obj/Debug
/packages
/Repository/bin/Debug
/Repository/obj/Debug
/Tools/Ran-Viet/obj/Debug
/Tools/Ran-Viet/bin/Debug
/Auth/obj/Release
/RanMaster/bin
/RanMaster/obj
/Entity/bin/Release
/Entity/obj/Release
/Framework/bin/Release
/Framework/obj/Release
/Repository/bin/Release
/.vs/RanOnline/v16
/Test/bin/Debug
/Test/obj/Debug
/Tools/Build
/Tools/HandleServer/obj/Debug
/Tools/LoginServer/obj/Debug
/Tools/NHDSolution/bin/Debug
/Tools/NHDSolution/obj/Debug
/.vs
