<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=.;Initial Catalog=RanUser;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="connectRanGame" connectionString="Data Source=.;Initial Catalog=RanGame1;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="connectRanMaster" connectionString="Data Source=.;Initial Catalog=RanMaster;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
