<app-banner></app-banner>
<app-news></app-news>
<section class="factions">
    <div id="carousel-faction-list" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators row">
            <li data-target="#carousel-faction-list" data-slide-to="0" class="col-sm-3 active">
                <div>Thiếu Lâm</div>
            </li>
            <li data-target="#carousel-faction-list" data-slide-to="1" class="col-sm-3 ">
                <div>Đường Môn</div>
            </li>
            <li data-target="#carousel-faction-list" data-slide-to="2" class="col-sm-3 ">
                <div>Nga Mi</div>
            </li>
            <li data-target="#carousel-faction-list" data-slide-to="3" class="col-sm-3 ">
                <div>Võ Đang</div>
            </li>
            <li data-target="#carousel-faction-list" data-slide-to="4" class="col-sm-3 ">
                <div>Dương Gia</div>
            </li>
            <li data-target="#carousel-faction-list" data-slide-to="5" class="col-sm-3 ">
                <div>Cái Bang</div>
            </li>
            <li data-target="#carousel-faction-list" data-slide-to="6" class="col-sm-3 ">
                <div>Ngũ Độc</div>
            </li>
            <li data-target="#carousel-faction-list" data-slide-to="7" class="col-sm-3 ">
                <div>Côn Lôn</div>
            </li>
            <li data-target="#carousel-faction-list" data-slide-to="8" class="col-sm-3 ">
                <div>Thuý Yên</div>
            </li>
            <li data-target="#carousel-faction-list" data-slide-to="9" class="col-sm-3 ">
                <div>Minh Giáo</div>
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex">
                    <div class="faction-bg w-50">
                        <img class="img-fluid" src="https://volam2.conco.online/images/factions/thieulam.png"
                            alt="Thiếu Lâm">
                        <div class="faction-name"></div>
                    </div>
                    <div class="factions__desc w-50">
                        <a class="faction-title">Thiếu Lâm</a>
                        <div class="faction-summary py-2">
                            <p>Được xem là Thái Sơn Bắc Đẩu của võ lâm, Thiếu Lâm phái oai trấn
                                giang hồ với 18 thế võ công chính yếu, sau được Triệu Khuông Dẫn
                                phát triển...</p>
                            <p>Sử dụng vũ khí: <strong>Đao, Côn</strong></p>
                            <a href="https://volam2.conco.online/mon-phai/thieu-lam">Giới thiệu
                                chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="d-flex">
                    <div class="faction-bg w-50">
                        <img class="img-fluid" src="https://volam2.conco.online/images/factions/duongmon.png"
                            alt="Đường Môn">
                        <div class="faction-name"></div>
                    </div>
                    <div class="factions__desc w-50">
                        <a class="faction-title">Đường Môn</a>
                        <div class="faction-summary py-2">
                            <p>Được giang hồ tặng cho danh xưng “Võ Lâm đệ nhất môn”, Đường Môn
                                nổi tiếng khắp vùng Ba Thục Tứ Xuyên với tuyệt chiêu sử dụng ám
                                khí, dùng ám khí hùng cứ Thục Trung.</p>
                            <p>Sử dụng vũ khí: <strong>Bẫy, Ám Khí</strong></p>
                            <a href="https://volam2.conco.online/mon-phai/duong-mon">Giới thiệu
                                chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="d-flex">
                    <div class="faction-bg w-50">
                        <img class="img-fluid" src="https://volam2.conco.online/images/factions/ngami.png" alt="Nga Mi">
                        <div class="faction-name"></div>
                    </div>
                    <div class="factions__desc w-50">
                        <a class="faction-title">Nga Mi</a>
                        <div class="faction-summary py-2">
                            <p>Nga My sơn, một trong Tứ Đại Phật giáo danh sơn, theo Thủy Kính
                                chú là nơi: “Núi cách Thành Đô trăm dặm, dưới bầu trời thu xanh
                                trong, ở phía xa hai dãy núi đối nhau như mày ngài”.</p>
                            <p>Sử dụng vũ khí: <strong>Đàn, Kiếm</strong></p>
                            <a href="https://volam2.conco.online/mon-phai/nga-mi">Giới thiệu chi
                                tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="d-flex">
                    <div class="faction-bg w-50">
                        <img class="img-fluid" src="https://volam2.conco.online/images/factions/vodang.png"
                            alt="Võ Đang">
                        <div class="faction-name"></div>
                    </div>
                    <div class="factions__desc w-50">
                        <a class="faction-title">Võ Đang</a>
                        <div class="faction-summary py-2">
                            <p>Đã là hiệp khách trong chốn giang hồ, ắt hẳn không ít thì nhiều
                                đồng đạo cũng từng nghe câu: <strong>“Bắc tôn Thiếu Lâm, Nam
                                    sùng Võ Đang”</strong>...</p>
                            <p>Sử dụng vũ khí: <strong>Bút, Kiếm</strong></p>
                            <a href="https://volam2.conco.online/mon-phai/vo-dang">Giới thiệu
                                chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="d-flex">
                    <div class="faction-bg w-50">
                        <img class="img-fluid" src="https://volam2.conco.online/images/factions/duonggia.png"
                            alt="Dương Gia">
                        <div class="faction-name"></div>
                    </div>
                    <div class="factions__desc w-50">
                        <a class="faction-title">Dương Gia</a>
                        <div class="faction-summary py-2">
                            <p>Dương Môn , môn phái mạnh về các chiêu thức kỳ ảo từ hai thứ vũ
                                khí đặc sắc thương - cung, vang danh thiên hạ và lưu truyền
                                mãi... </p>
                            <p>Sử dụng vũ khí: <strong>Thương, Cung</strong></p>
                            <a href="https://volam2.conco.online/mon-phai/duong-gia">Giới thiệu
                                chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="d-flex">
                    <div class="faction-bg w-50">
                        <img class="img-fluid" src="https://volam2.conco.online/images/factions/caibang.png"
                            alt="Cái Bang">
                        <div class="faction-name"></div>
                    </div>
                    <div class="factions__desc w-50">
                        <a class="faction-title">Cái Bang</a>
                        <div class="faction-summary py-2">
                            <p>Cái Bang là bang phái có từ lâu đời, lừng lẫy bốn phương nhờ
                                chiêu thức võ công đặc sắc, cùng cách thức hoạt động quy củ và
                                tiêu chí hành hiệp... </p>
                            <p>Sử dụng vũ khí: <strong>Hộ Uyển, Côn</strong></p>
                            <a href="https://volam2.conco.online/mon-phai/cai-bang">Giới thiệu
                                chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="d-flex">
                    <div class="faction-bg w-50">
                        <img class="img-fluid" src="https://volam2.conco.online/images/factions/ngudoc.png"
                            alt="Ngũ Độc">
                        <div class="faction-name"></div>
                    </div>
                    <div class="factions__desc w-50">
                        <a class="faction-title">Ngũ Độc</a>
                        <div class="faction-summary py-2">
                            <p>Có nguồn gốc từ người Miêu, sinh sống nơi vùng đất hoang tàn,
                                hiểm trở, nhiều rắn độc và mãnh thú, Ngũ Độc giáo là môn phái
                                thần bí và tà ác... </p>
                            <p>Sử dụng vũ khí: <strong>Song Đao, Trảo</strong></p>
                            <a href="https://volam2.conco.online/mon-phai/ngu-doc">Giới thiệu
                                chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="d-flex">
                    <div class="faction-bg w-50">
                        <img class="img-fluid" src="https://volam2.conco.online/images/factions/conlon.png"
                            alt="Côn Lôn">
                        <div class="faction-name"></div>
                    </div>
                    <div class="factions__desc w-50">
                        <a class="faction-title">Côn Lôn</a>
                        <div class="faction-summary py-2">
                            <p>Côn Lôn phái tọa lạc tại Tây Vực xa xôi, gần như không có mối
                                giao thiệp với vùng Trung Nguyên rộng lớn. Hơn nữa, tên tuổi của
                                vị tổ sư sáng lập Côn Lôn vẫn luôn là một bí ẩn lớn...</p>
                            <p>Sử dụng vũ khí: <strong>Kiếm</strong></p>
                            <a href="https://volam2.conco.online/mon-phai/con-lon">Giới thiệu
                                chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="d-flex">
                    <div class="faction-bg w-50">
                        <img class="img-fluid" src="https://volam2.conco.online/images/factions/thuyyen.png"
                            alt="Thuý Yên">
                        <div class="faction-name"></div>
                    </div>
                    <div class="factions__desc w-50">
                        <a class="faction-title">Thuý Yên</a>
                        <div class="faction-summary py-2">
                            <p>Môn phái Thúy Yên tọa lạc tại vùng núi Điểm Sơn, là nơi tụ họp
                                của những nữ nhi sắc đẹp tuyệt trần, võ công cái thế, thân thủ
                                bất phàm.</p>
                            <p>Sử dụng vũ khí: <strong>Quạt, Tiêu</strong></p>
                            <a href="https://volam2.conco.online/mon-phai/thuy-yen">Giới thiệu
                                chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="d-flex">
                    <div class="faction-bg w-50">
                        <img class="img-fluid" src="https://volam2.conco.online/images/factions/minhgiao.png"
                            alt="Minh Giáo">
                        <div class="faction-name"></div>
                    </div>
                    <div class="factions__desc w-50">
                        <a class="faction-title">Minh Giáo</a>
                        <div class="faction-summary py-2">
                            <p>Minh Giáo nguồn gốc là Ba Tư Ma Ni Giáo, được du nhập vào thời
                                trung thổ Đại Đường rồi từ từ phát triển lên. Giáo chúng Minh
                                Giáo đến từ ngũ hồ tứ hải, mọi tầng lớp xã hội từ nông dân, tú
                                tài, lục lâm, hảo hán đều có thể gia nhập.</p>
                            <p>Sử dụng vũ khí: <strong>Đao, Trảo, Bút</strong></p>
                            <a href="https://volam2.conco.online/mon-phai/minh-giao">Giới thiệu
                                chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>