<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IP_SERVER" value="45.119.85.206"/>
    <add key="PORT_LOGIN" value="9960"/>
    <add key="PORT_GAME" value="5820"/>
    <add key="PORT_LOCAL" value="5816"/>
    <add key="PORT_DIFF" value="184"/>
    <add key="DELAY_ARM" value="500"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>