<div class="btn-image game-payment">
    <a href="http://id.conco.online/payment" class="btn btn-block p-0" title="Tới trang nạp thẻ">
        <img src="https://volam2.conco.online/images/btn-napthe.png" alt="Nạp thẻ" class="img-fluid">
    </a>
</div>
<div class="account">
    <div class="d-flex align-items-center">
        <a class="btn game-register w-50"
            href="http://id.conco.online/register?return_url=https%3A%2F%2Fvolam2.conco.online"
            title="Đăng ký tài khoản võ lâm 2 online">
            Đăng ký
        </a>
        <button class="btn w-50" (click)="login()">Đăng nhập</button>
    </div>
</div>